Archivos Grandes/
DatasetBW/
ACGAN/ACGAN/venv/Lib/site-packages/cv2/cv2.cp37-win_amd64.pyd
CNN/venv/Lib/site-packages/tensorflow_core/python/_pywrap_tensorflow_internal.pyd
CNN/venv/saved_model/cnn_weights.hdf5